{% extends 'portal/base.html' %}
{% block links %}
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'portal/css/overlay.css' %}">
{% endblock %}
{% block content %}
        {% load staticfiles %}

<section class="banner" role="banner">
  <header id="header">
    <div class="header-content clearfix"> <a class="logo" href="{% url 'index' %}"> Students' Union</a>
      <nav class="navigation" role="navigation">
        <ul class="primary-nav">
          <li><a href="{% url 'services' %}">Services</a></li>
          <li><a href="{% url 'cost' %}">Expenses</a></li>
          <li><a href="{% url 'contact' %}">Contact</a></li>
          <li><a href="{% url 'index' %}">Union Team</a></li>
          <li><a href="{% url 'resources' %}">Resources</a></li>
          <li><a href="{% url 'loginPage' %}">Login</a></li>          
        </ul>
      </nav>
      <a href="#" class="nav-toggle">Menu<span></span></a> </div>
  </header>

  <div class="container">
    <div class="col-md-10 col-md-offset-1">
      <div class="banner-text text-center">
        <h1><img style='height:210px;width:200px;' src="{% static 'portal/images/sulogo(1).png' %}"></h1>
        <p>Welcome to the Student Union Portal<br>
          Scroll to see more</p>
      </div>
    </div>
  </div>
</section>
<!-- header section -->
<!-- description text section -->
<section id="descripton" class="section descripton">
  <div class="container">
    <div class="col-md-10 col-md-offset-1 text-center">
      <h1>The Union Team</h1>
      <p>We present to you the Student Union team. The team comprises of the current SU President, Bharatratna Puli,
        the General Sec, Shivam Jindal, and the hostel representatives of all the hostels. Have a look at what progress they have made.</p>
    </div>
  </div>
</section>
<!-- description text section -->
<!-- portfolio section -->
<section id="works" class="works section no-padding">
  <div class="container-fluid">
    <div class="row no-gutter">
 


         <div class="col-lg-3 col-md-6 col-sm-6 work">
            <a href="#puli" class="work-box">
                <div style="display:none">
                    <div id="puli" class="overlaybox">
                        <h2>Manifest points covered:</h2>
                        <br>
                        1) Installation of insect blockers <br>
                        2) Providing quilts<br>
                        3) Mentorship for first years<br>
                        4) Newspaper trays</div>
                </div>

                <img src="{% static 'portal/images/work-1.jpg' %}" alt="">

                <div class="overlay">
                    <div class="overlay-caption">
                        <h5>Bharatratna Puli</h5>
                        <p>President , SU</p>
                    </div>
                </div>
            </a>
        </div>



         <div class="col-lg-3 col-md-6 col-sm-6 work">
            <a href="#shivam" class="work-box">
                <div style="display:none">
                    <div id="shivam" class="overlaybox">
                        <h2>Manifest points covered:</h2>
                        <br>
                        1) Installation of insect blockers <br>
                        2) Providing quilts<br>
                        3) Mentorship for first years<br>
                        4) Newspaper trays</div>
                </div>

                <img src="{% static 'portal/images/shivam.jpg' %}" alt="">

                <div class="overlay">
                    <div class="overlay-caption">
                        <h5>Shivam Jindal</h5>
                        <p>Gen Sec , SU</p>
                    </div>
                </div>
            </a>
        </div>






        <div class="col-lg-3 col-md-6 col-sm-6 work">
            <a href="#satyansh" class="work-box">
                <div style="display:none">
                    <div id="satyansh" class="overlaybox">
                        <h2>Manifest points covered:</h2>
                        <br>
                        1) Installation of insect blockers <br>
                        2) Providing quilts<br>
                        3) Mentorship for first years<br>
                        4) Newspaper trays</div>
                </div>

                <img src="{% static 'portal/images/satyansh.jpg' %}" alt="">

                <div class="overlay">
                    <div class="overlay-caption">
                        <h5>Satyansh Rai</h5>
                        <p>BUDH H.Rep , SU</p>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-lg-3 col-md-6 col-sm-6 work">
            <a href="#vardhan" class="work-box">
                <div style="display:none">
                    <div id="vardhan" class="overlaybox">
                        <h2>Manifest points covered:</h2>
                        <br>
                        1) Installation of insect blockers <br>
                        2) Providing quilts<br>
                        3) Mentorship for first years<br>
                        4) Newspaper trays</div>
                </div>

                <img src="{% static 'portal/images/vk.jpg' %}" alt="">

                <div class="overlay">
                    <div class="overlay-caption">
                        <h5>Harsh Vardhan</h5>
                        <p>CVR H.Rep , SU</p>
                    </div>
                </div>
            </a>
        </div>




        <div class="col-lg-3 col-md-6 col-sm-6 work">
            <a href="#mavuluri" class="work-box">
                <div style="display:none">
                    <div id="mavuluri" class="overlaybox">
                        <h2>Manifest points covered:</h2>
                        <br>
                        1) Installation of insect blockers <br>
                        2) Providing quilts<br>
                        3) Mentorship for first years<br>
                        4) Newspaper trays</div>
                </div>

                <img src="{% static 'portal/images/vk.jpg' %}" alt="">

                <div class="overlay">
                    <div class="overlay-caption">
                        <h5>Rithwick Mavuluri</h5>
                        <p>VK H.Rep , SU</p>
                    </div>
                </div>
            </a>
        </div>


        <div class="col-lg-3 col-md-6 col-sm-6 work">
            <a href="#dutta" class="work-box">
                <div style="display:none">
                    <div id="dutta" class="overlaybox"><h2>Manifest points covered:</h2>
                        <br>
                        1) Installation of insect blockers <br>
                        2) Providing quilts<br>
                        3) Mentorship for first years<br>
                        4) Newspaper trays</div>
                </div>

                <img src="{% static 'portal/images/sandeep.jpg' %}" alt="">

                <div class="overlay">
                    <div class="overlay-caption">
                        <h5>Sandeep Dutta</h5>
                        <p>Mal C H.Rep , SU</p>
                    </div>
                </div>
            </a>
        </div>


        <div class="col-lg-3 col-md-6 col-sm-6 work">
            <a href="#chitra" class="work-box">
                <div style="display:none">
                    <div id="chitra" class="overlaybox"><h2>Manifesto points covered:</h2>
                        <br>
                        1) Washrooms Maintenance: Cleaned regularly and Air Freshners kept in every washroom.<br>
                        2) Check on Dhobi and Laundromat<br>
                        3) Regular Servicing and repairing of Electronics<br>
                        4) Stray dogs check<br>
                        5) Availability of Newspapers in all Blocks<br>
                        6) Ensured no fake signings for SU merchandise</div>
                </div>

                <img src="{% static 'portal/images/chitra.jpg' %}" alt="">

                <div class="overlay">
                    <div class="overlay-caption">
                        <h5>Chitra</h5>
                        <p>MEERA 1 H.Rep , SU</p>
                    </div>
                </div>
            </a>
        </div>





        <div class="col-lg-3 col-md-6 col-sm-6 work">
            <a href="#bothra" class="work-box">
                <div style="display:none">
                    <div id="bothra" class="overlaybox"><h2>Manifesto points covered:</h2>
                        <br>
                        1) check on dhobi and laundromat<br>
                        2) stray dogs check<br>
                        3) washrooms maintenance</div>
                </div>

                <img src="{% static 'portal/images/ayush.jpg' %}" alt="">

                <div class="overlay">
                    <div class="overlay-caption">
                        <h5>Ayush Bothra</h5>
                        <p>MAL H.Rep , SU</p>
                    </div>
                </div>
            </a>
        </div>  



        <div class="col-lg-3 col-md-6 col-sm-6 work">
            <a href="#kanupriya" class="work-box">
                <div style="display:none">
                    <div id="kanupriya" class="overlaybox"><h2>Manifesto points covered:</h2>
                        <br>
                        1) Wash room maintenance has been regularised and certain new measures have been introduced towards cleanliness and hygiene of the public bathrooms, along with daily checks.<br>
                        2) QTs are now regularly cleaned by sweeper. Water logging problem has been solved.<br>
                        3) Checks on dhobi and laundromat have been applied<br>
                        4) A request for the installation of sanitary pad incinerators has been placed forth and is under working.<br>
                        5) An additional request for the installation of cycle stands has since been made at the EMU to be placed around the mess area in order to limit chaos and stampede during busy hours.<br>
                        6) The condition of the services provided by the redi inside the Meera Bhawan premises has been addressed to, and an action to get the vendor and workers replaced has been made, which is expected to be effective shortly.<br>
                        7) The garbage dump outside Meera Bhawan has been renovated after requesting EMU and a gate cover has been installed for the same so as to prevent the dogs from spreading the garbage and spoiling the surroundings.</div>
                </div>

                <img style="height: 320px;" src="{% static 'portal/images/kanupriya.jpg' %}" alt="">

                <div class="overlay">
                    <div class="overlay-caption">
                        <h5>Kanupriya Sachdeva</h5>
                        <p>MEERA 2 H.Rep , SU</p>
                    </div>
                </div>
            </a>
        </div> 



        <div class="col-lg-3 col-md-6 col-sm-6 work">
            <a href="#parth" class="work-box">
                <div style="display:none">
                    <div id="parth" class="overlaybox"><h2>Manifesto points covered:</h2>
                        <br>
                        1) check on dhobi and laundromat<br>
                        2) stray dogs check<br>
                        3) washrooms maintenance</div>
                </div>

                <img src="{% static 'portal/images/parth.jpg' %}" alt="">

                <div class="overlay">
                    <div class="overlay-caption">
                        <h5>Parth Goyal</h5>
                        <p>RAM H.Rep , SU</p>
                    </div>
                </div>
            </a>
        </div> 


        <div class="col-lg-3 col-md-6 col-sm-6 work">
            <a href="#arghae" class="work-box">
                <div style="display:none">
                    <div id="arghae" class="overlaybox"><h2>Manifesto points covered:</h2>
                        <br>
                        1) check on dhobi and laundromat<br>
                        2) stray dogs check<br>
                        3) washrooms maintenance</div>
                </div>

                <img src="{% static 'portal/images/arghae.jpg' %}" alt="">

                <div class="overlay">
                    <div class="overlay-caption">
                        <h5>Arghae Singh</h5>
                        <p>GANDHI H.Rep , SU</p>
                    </div>
                </div>
            </a>
        </div> 


        <div class="col-lg-3 col-md-6 col-sm-6 work">
            <a href="#uday" class="work-box">
                <div style="display:none">
                    <div id="uday" class="overlaybox"><h2>Manifesto points covered:</h2>
                        <br>
                        1) check on dhobi and laundromat<br>
                        2) stray dogs check<br>
                        3) washrooms maintenance</div>
                </div>

                <img src="{% static 'portal/images/uday.jpg' %}" alt="">

                <div class="overlay">
                    <div class="overlay-caption">
                        <h5>Uday Raj Singh</h5>
                        <p>SR-C,D H.Rep , SU</p>
                    </div>
                </div>
            </a>
        </div> 

        <div class="col-lg-3 col-md-6 col-sm-6 work">
            <a href="#akhand" class="work-box">
                <div style="display:none">
                    <div id="akhand" class="overlaybox"><h2>Manifesto points covered:</h2>
                        1) Workshops of EG and Guitar were conducted in SR. We have conducted 5 sessions (2.5 hrs each) of guitar workshop with the help of student’s in  music club.<br>

2) Pump is provided in cycle parking of A and B block. Funds were generated through raddhi from students to spend on hostel needs like cycle pump.<br>

3) Intra Hostel FIFA, Counter Strike and other various gaming competitions in collaboration with sports and cultural sec.<br>

4) Hot water and milk is available in redi. Redi time was increased during exams.<br>

5) Frequency of fumigation was increased as per seasonal needs.<br>

6) Quilts were provided to inmates during winter in last semester.<br>

7) An online survey regarding hostel condition, working of representatives, and feasible suggestions for the betterment of hostel. We shared survey summary and work progress with Student Union.
8) Around 100 people participated in the cricket tournament and the table tennis tournament was also well received with a participation of around 40 participants. <br>

9) A Google Drive was created and the solutions to the continuous evaluation problems of Engineering Graphics were uploaded. Moderators check the solutions and approve them. This drive with credible solutions is shared with students from all sections. <br>

10)  Coffee Machine was installed in Common Room to facilitate students during examinations. The service was also further extended to benefit students daily. <br> 

11)  A Series of extra classes to be engaged by Dr. Manoj Kannan and his team is being arranged to address student’s difficulties.<br>

12) Tutorial question papers from many tutorial sections are collected and shared on google drive to ensure that the students can practice various kind of questions before the compre’s.
Evaluative component questions in EG are uploaded as soon as the evaluation is over so that the students can practics questions of that topic to before there day of evaluation. Similarly, in some other subjects like Thermodynamics tutorial questions are uploaded as soon as the test is over just to give glimpses about the type and difficulty level of the question in the tutorial question paper<br>
</div>
                </div>

                <img src="{% static 'portal/images/akhand.jpg' %}" alt="">

                <div class="overlay">
                    <div class="overlay-caption">
                        <h5>Akhand Pratap Singh</h5>
                        <p>SR-A,B  SU</p>
                    </div>
                </div>
            </a>
        </div> 


        <div class="col-lg-3 col-md-6 col-sm-6 work">
            <a href="#anand" class="work-box">
                <div style="display:none">
                    <div id="anand" class="overlaybox"><h2>Manifesto points covered:</h2>
                        <br>
                        1) Washrooms and Qt are been taken care off and constantly looked after .<br>
                        2) Mentors were assigned to first year students in the first semester 2017-18.<br>
                        3) Newspaper trays have been set up . single newspaper tray between two adjacent wings.<br>
                        4) Signings followed by distribution of quilts has been completed. Trunks will be taken care of at the end of this semester.<br>
                        5) A dedicated facebook page has been created but not active though as there are alternative whatsapp groups on which information about events and current happening is provided.<br>
                        6) First aid box available. Cycle pump is available with Chowki. Raddi collection will be done in april end.</div>
                </div>

                <img src="{% static 'portal/images/anand.jpg' %}" alt="">

                <div class="overlay">
                    <div class="overlay-caption">
                        <h5>Anand Chordiya</h5>
                        <p>VYAS SU</p>
                    </div>
                </div>
            </a>
        </div> 



        <div class="col-lg-3 col-md-6 col-sm-6 work">
            <a href="#pranav" class="work-box">
                <div style="display:none">
                    <div id="pranav" class="overlaybox"><h2>Manifesto points covered:</h2>
                        <br>
                        1) check on dhobi and laundromat<br>
                        2) stray dogs check<br>
                        3) washrooms maintenance</div>
                </div>

                <img src="{% static 'portal/images/pranav1.jpg' %}" alt="">

                <div class="overlay">
                    <div class="overlay-caption">
                        <h5>Pranav Singh Rathore</h5>
                        <p>D-Rep  SU</p>
                    </div>
                </div>
            </a>
        </div> 




        <div class="col-lg-3 col-md-6 col-sm-6 work">
            <a href="#lohith" class="work-box">
                <div style="display:none">
                    <div id="lohith" class="overlaybox"><h2>Manifesto points covered:</h2>
                        <br>
                        1) check on dhobi and laundromat<br>
                        2) stray dogs check<br>
                        3) washrooms maintenance</div>
                </div>

                <img src="{% static 'portal/images/lohith.jpg' %}" alt="">

                <div class="overlay">
                    <div class="overlay-caption">
                        <h5>Lohith</h5>
                        <p>CVR H.Rep  SU</p>
                    </div>
                </div>
            </a>
        </div> 




    </div>
  </div>
</section>
{% endblock %}