{% extends 'portal/base.html' %}
{% block links %}
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'portal/css/overlay.css' %}">
{% endblock %}
{% block content %}
        {% load staticfiles %}

<section class="banner" role="banner">
  <header id="header">
    <div class="header-content clearfix"> <a class="logo" href="{% url 'index' %}"> Students' Union</a>
      <nav class="navigation" role="navigation">
        <ul class="primary-nav">
          <li><a href="{% url 'loginPage' %}">Home</a></li>
          <li><a href="{% url 'services' %}">Services</a></li>
          <li><a href="{% url 'cost' %}">Expenses</a></li>
          <li><a href="{% url 'contact' %}">Contact</a></li>
          <li><a href="{% url 'index' %}">Union Team</a></li>
          <li><a href="{% url 'resources' %}">Resources</a></li>
        </ul>
      </nav>
      <a href="#" class="nav-toggle">Menu<span></span></a> </div>
  </header>

  <div class="container">
    <div class="col-md-10 col-md-offset-1">
      <div class="banner-text text-center">
        <h1>Hey There</h1>
        <p>Welcome to the Student Union Portal<br>
          Scroll to see more</p>
      </div>
    </div>
  </div>
</section>
<!-- header section -->
<!-- description text section -->
<section id="descripton" class="section descripton">
  <div class="container">
    <div class="col-md-10 col-md-offset-1 text-center">
      <h1>The Union Team</h1>
      <p>We present to you the Student Union team. The team comprises of the current SU President, Bharatratna Puli,
        the General Sec, Shivam Jindal, and the hostel representatives of all the hostels. Have a look at what progress they have made.</p>
    </div>
  </div>
</section>
<!-- description text section -->
<!-- portfolio section -->
<section id="works" class="works section no-padding">
  <div class="container-fluid">
    <div class="row no-gutter">
 


         <div class="col-lg-3 col-md-6 col-sm-6 work">
            <a href="#puli" class="work-box">
                <div style="display:none">
                    <div id="puli" class="overlaybox">
                        <h2>Manifest points covered:</h2>
                        <br>
                        1) Installation of insect blockers <br>
                        2) Providing quilts<br>
                        3) Mentorship for first years<br>
                        4) Newspaper trays</div>
                </div>

                <img src="{% static 'portal/images/work-1.jpg' %}" alt="">

                <div class="overlay">
                    <div class="overlay-caption">
                        <h5>Bharatratna Puli</h5>
                        <p>President , SU</p>
                    </div>
                </div>
            </a>
        </div>



         <div class="col-lg-3 col-md-6 col-sm-6 work">
            <a href="#shivam" class="work-box">
                <div style="display:none">
                    <div id="shivam" class="overlaybox">
                        <h2>Manifest points covered:</h2>
                        <br>
                        1) Installation of insect blockers <br>
                        2) Providing quilts<br>
                        3) Mentorship for first years<br>
                        4) Newspaper trays</div>
                </div>

                <img src="{% static 'portal/images/shivam.jpg' %}" alt="">

                <div class="overlay">
                    <div class="overlay-caption">
                        <h5>Shivam Jindal</h5>
                        <p>Gen Sec , SU</p>
                    </div>
                </div>
            </a>
        </div>






        <div class="col-lg-3 col-md-6 col-sm-6 work">
            <a href="#satyansh" class="work-box">
                <div style="display:none">
                    <div id="satyansh" class="overlaybox">
                        <h2>Manifest points covered:</h2>
                        <br>
                        1) Installation of insect blockers <br>
                        2) Providing quilts<br>
                        3) Mentorship for first years<br>
                        4) Newspaper trays</div>
                </div>

                <img src="{% static 'portal/images/satyansh.jpg' %}" alt="">

                <div class="overlay">
                    <div class="overlay-caption">
                        <h5>Satyansh Rai</h5>
                        <p>BUDH H.Rep , SU</p>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-lg-3 col-md-6 col-sm-6 work">
            <a href="#vardhan" class="work-box">
                <div style="display:none">
                    <div id="vardhan" class="overlaybox">
                        <h2>Manifest points covered:</h2>
                        <br>
                        1) Installation of insect blockers <br>
                        2) Providing quilts<br>
                        3) Mentorship for first years<br>
                        4) Newspaper trays</div>
                </div>

                <img src="{% static 'portal/images/vk.jpg' %}" alt="">

                <div class="overlay">
                    <div class="overlay-caption">
                        <h5>Harsh Vardhan</h5>
                        <p>CVR H.Rep , SU</p>
                    </div>
                </div>
            </a>
        </div>




        <div class="col-lg-3 col-md-6 col-sm-6 work">
            <a href="#mavuluri" class="work-box">
                <div style="display:none">
                    <div id="mavuluri" class="overlaybox">
                        <h2>Manifest points covered:</h2>
                        <br>
                        1) Installation of insect blockers <br>
                        2) Providing quilts<br>
                        3) Mentorship for first years<br>
                        4) Newspaper trays</div>
                </div>

                <img src="{% static 'portal/images/vk.jpg' %}" alt="">

                <div class="overlay">
                    <div class="overlay-caption">
                        <h5>Rithwick Mavuluri</h5>
                        <p>VK H.Rep , SU</p>
                    </div>
                </div>
            </a>
        </div>


        <div class="col-lg-3 col-md-6 col-sm-6 work">
            <a href="#dutta" class="work-box">
                <div style="display:none">
                    <div id="dutta" class="overlaybox"><h2>Manifest points covered:</h2>
                        <br>
                        1) Installation of insect blockers <br>
                        2) Providing quilts<br>
                        3) Mentorship for first years<br>
                        4) Newspaper trays</div>
                </div>

                <img src="{% static 'portal/images/sandeep.jpg' %}" alt="">

                <div class="overlay">
                    <div class="overlay-caption">
                        <h5>Sandeep Dutta</h5>
                        <p>Mal C H.Rep , SU</p>
                    </div>
                </div>
            </a>
        </div>


        <div class="col-lg-3 col-md-6 col-sm-6 work">
            <a href="#chitra" class="work-box">
                <div style="display:none">
                    <div id="chitra" class="overlaybox"><h2>Manifesto points covered:</h2>
                        <br>
                        1) check on dhobi and laundromat<br>
                        2) stray dogs check<br>
                        3) washrooms maintenance</div>
                </div>

                <img src="{% static 'portal/images/chitra.jpg' %}" alt="">

                <div class="overlay">
                    <div class="overlay-caption">
                        <h5>Chitra</h5>
                        <p>MEERA 1 H.Rep , SU</p>
                    </div>
                </div>
            </a>
        </div>





        <div class="col-lg-3 col-md-6 col-sm-6 work">
            <a href="#bothra" class="work-box">
                <div style="display:none">
                    <div id="bothra" class="overlaybox"><h2>Manifesto points covered:</h2>
                        <br>
                        1) check on dhobi and laundromat<br>
                        2) stray dogs check<br>
                        3) washrooms maintenance</div>
                </div>

                <img src="{% static 'portal/images/ayush.jpg' %}" alt="">

                <div class="overlay">
                    <div class="overlay-caption">
                        <h5>Ayush Bothra</h5>
                        <p>MAL H.Rep , SU</p>
                    </div>
                </div>
            </a>
        </div>  



        <div class="col-lg-3 col-md-6 col-sm-6 work">
            <a href="#kanupriya" class="work-box">
                <div style="display:none">
                    <div id="kanupriya" class="overlaybox"><h2>Manifesto points covered:</h2>
                        <br>
                        1) check on dhobi and laundromat<br>
                        2) stray dogs check<br>
                        3) washrooms maintenance</div>
                </div>

                <img src="{% static 'portal/images/kanupriya.jpg' %}" alt="">

                <div class="overlay">
                    <div class="overlay-caption">
                        <h5>Kanupriya Sachdeva</h5>
                        <p>MEERA 2 H.Rep , SU</p>
                    </div>
                </div>
            </a>
        </div> 



        <div class="col-lg-3 col-md-6 col-sm-6 work">
            <a href="#parth" class="work-box">
                <div style="display:none">
                    <div id="parth" class="overlaybox"><h2>Manifesto points covered:</h2>
                        <br>
                        1) check on dhobi and laundromat<br>
                        2) stray dogs check<br>
                        3) washrooms maintenance</div>
                </div>

                <img src="{% static 'portal/images/parth.jpg' %}" alt="">

                <div class="overlay">
                    <div class="overlay-caption">
                        <h5>Parth Goyal</h5>
                        <p>RAM H.Rep , SU</p>
                    </div>
                </div>
            </a>
        </div> 


        <div class="col-lg-3 col-md-6 col-sm-6 work">
            <a href="#arghae" class="work-box">
                <div style="display:none">
                    <div id="arghae" class="overlaybox"><h2>Manifesto points covered:</h2>
                        <br>
                        1) check on dhobi and laundromat<br>
                        2) stray dogs check<br>
                        3) washrooms maintenance</div>
                </div>

                <img src="{% static 'portal/images/arghae.jpg' %}" alt="">

                <div class="overlay">
                    <div class="overlay-caption">
                        <h5>Arghae Singh</h5>
                        <p>GANDHI H.Rep , SU</p>
                    </div>
                </div>
            </a>
        </div> 


        <div class="col-lg-3 col-md-6 col-sm-6 work">
            <a href="#uday" class="work-box">
                <div style="display:none">
                    <div id="uday" class="overlaybox"><h2>Manifesto points covered:</h2>
                        <br>
                        1) check on dhobi and laundromat<br>
                        2) stray dogs check<br>
                        3) washrooms maintenance</div>
                </div>

                <img src="{% static 'portal/images/uday.jpg' %}" alt="">

                <div class="overlay">
                    <div class="overlay-caption">
                        <h5>Uday Raj Singh</h5>
                        <p>SR-C,D H.Rep , SU</p>
                    </div>
                </div>
            </a>
        </div> 

        <div class="col-lg-3 col-md-6 col-sm-6 work">
            <a href="#akhand" class="work-box">
                <div style="display:none">
                    <div id="akhand" class="overlaybox"><h2>Manifesto points covered:</h2>
                        <br>
                        1) check on dhobi and laundromat<br>
                        2) stray dogs check<br>
                        3) washrooms maintenance</div>
                </div>

                <img src="{% static 'portal/images/akhand.jpg' %}" alt="">

                <div class="overlay">
                    <div class="overlay-caption">
                        <h5>Akhand Pratap Singh</h5>
                        <p>SR-A,B  SU</p>
                    </div>
                </div>
            </a>
        </div> 


        <div class="col-lg-3 col-md-6 col-sm-6 work">
            <a href="#anand" class="work-box">
                <div style="display:none">
                    <div id="anand" class="overlaybox"><h2>Manifesto points covered:</h2>
                        <br>
                        1) check on dhobi and laundromat<br>
                        2) stray dogs check<br>
                        3) washrooms maintenance</div>
                </div>

                <img src="{% static 'portal/images/anand.jpg' %}" alt="">

                <div class="overlay">
                    <div class="overlay-caption">
                        <h5>Anand Chordiya</h5>
                        <p>VYAS SU</p>
                    </div>
                </div>
            </a>
        </div> 



        <div class="col-lg-3 col-md-6 col-sm-6 work">
            <a href="#pranav" class="work-box">
                <div style="display:none">
                    <div id="pranav" class="overlaybox"><h2>Manifesto points covered:</h2>
                        <br>
                        1) check on dhobi and laundromat<br>
                        2) stray dogs check<br>
                        3) washrooms maintenance</div>
                </div>

                <img src="{% static 'portal/images/pranav1.jpg' %}" alt="">

                <div class="overlay">
                    <div class="overlay-caption">
                        <h5>Pranav Singh Rathore</h5>
                        <p>D-Rep  SU</p>
                    </div>
                </div>
            </a>
        </div> 




        <div class="col-lg-3 col-md-6 col-sm-6 work">
            <a href="#lohith" class="work-box">
                <div style="display:none">
                    <div id="lohith" class="overlaybox"><h2>Manifesto points covered:</h2>
                        <br>
                        1) check on dhobi and laundromat<br>
                        2) stray dogs check<br>
                        3) washrooms maintenance</div>
                </div>

                <img src="{% static 'portal/images/lohith.jpg' %}" alt="">

                <div class="overlay">
                    <div class="overlay-caption">
                        <h5>Lohith</h5>
                        <p>CVR H.Rep  SU</p>
                    </div>
                </div>
            </a>
        </div> 




    </div>
  </div>
</section>
{% endblock %}