{% extends 'portal/base.html' %}
{% block links%}
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'portal/css/services.css' %}">
{% endblock %}

{% block content %}

  <section class="innerbanner" role="banner">
    <header id="header">
    <div class="header-content clearfix"> <a class="logo" href="{% url 'index' %}">Students' Union</a>
      <nav class="navigation" role="navigation">
        <ul class="primary-nav">
          <li><a href="{% url 'loginPage' %}">Home</a></li>
          <li><a href="{% url 'services' %}">Services</a></li>
          <li><a href="{% url 'cost' %}">Expenses</a></li>
          <li><a href="{% url 'contact' %}">Contact</a></li>
          <li><a href="{% url 'index' %}">Union Team</a></li>
          <li><a href="{% url 'resources' %}">Resources</a></li>
        </ul>
      </nav>
      <a href="#" class="nav-toggle">Menu<span></span></a> </div>
  </header>

    <div class="container">
      <div class="col-md-10 col-md-offset-1">
        <div class="innerbanner-text text-center">
          <p> Services </p>
        </div>
      </div>
    </div>
  </section>

  <section id="buttons">
        <a class="button" href="{% url 'bus' %}" style="vertical-align:middle"><span>Bus Booking </span></a>
        <a class="button" href="{% url 'cab' %}" style="vertical-align:middle"><span>Cab Sharing </span></a>
  </section>

{% endblock %}