@import "https://fonts.googleapis.com/css?family=Open+Sans|Roboto:300";


body {
  overflow-x: hidden;
}

.container1 {
  /*perspective: 800px;*/
  color: #fff;
  width: 100vw;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  letter-spacing: 4px;
  /* Center it */
  /*position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);*/
}

.container2{
  width: 100vw;
  /*perspective: 800px;*/
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  letter-spacing: 4px;
}

.card {
  /* Styling */
  width: 100%;
  height: 400px;
  background: #141414;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  /* Card flipping effects */
  transform-style: preserve-3d;
  transition: 0.6s;
}

.side {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  /* Fix Chrome rendering bug */
  transform: rotate(0deg) translateZ(1px);
}

/* Flip the card on hover */
.container1:hover .card,.container2:hover .card,
.back {
  transform: rotateY(-180deg) translateZ(1px);
}

/* Front styling */
.front {
  /* Center the name + outline (almost) */
  line-height: 390px;
  background-color: #65349C;
  /* Height - some (because visual center is a little higher than actual center) */
  text-align: center;
}

.logocard {
  outline: 1px solid #19F6E8;
  display: inline-block;
  padding: 15px 40px;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  font-size: 1.4em;
  font-weight: normal;
  line-height: 32px;
  letter-spacing: 8px;
}

/* Back styling */
.back {
  background: #15CCC0;
  padding: 30px;
}

.name {
  color: #3B3B3B;
  margin-bottom: 0;
}

p {
  margin: 0.8em 0;
}

.info {
  position: absolute;
  bottom: 30px;
  left: 30px;
  color: #3b3b3b;
}

.property {
  color: #fff;
}

/* Make semi-responsive */
@media (max-width: 700px) {
  .card {
    transform: scale(0.5);
  }

  .container1:hover .card {
    transform: scale(0.5) rotateY(-180deg) translateZ(1px);
  }

  .container2:hover .card{
    transform: scale(0.5) rotateY(-180deg) translateZ(1px);
  }
}
.bigger,.bigger a{
  font-size: 25px;
}
